body {
    color:pink;
    background: rosybrown;
    }

    header {
        border: solid 5px white;
        padding: 10px;
        font-size: 35px;
    }

section {
    background: rgb(126, 13, 101);
}